* {
  font-family: 'Roboto', sans-serif;
}

.header {
  font-size: 36px;
  background-color: rgba(148, 136, 99, 0.7);
  height: 100px;
}

.my {
  color: rgb(41, 133, 136);
  position: absolute;
  top: 5%;
}

.anime {
  color: rgb(134, 99, 99);
  position: absolute;
  top: 5%;
  left: 3.8%;
}

.list {
  color: rgb(42, 143, 146);
  position: absolute;
  top: 5%;
  left: 10.5%;
}

.new-anime {
  color: white;
  background-color: rgb(120, 143, 135);
  font-family: 'Roboto', sans-serif;
  border-radius: 2pc;
  outline: none;
  margin-bottom: 13px;
}

.card {
  color: white;
  background-color: rgba(63, 66, 51, 0.603);
  font-size: 20px;
  position: relative;
  margin-right: 1300px;
  margin-bottom: 5px;
  margin-top: 5px;
  border: rgba(0, 0, 0, 0) solid 1px;
}